	/* 主题色1 */
	.background_style{
		background-color:#fcd030;
	}
	/* 按钮 */
	.btn_style>button{
		background-color:#fcd030;
		color:#000;
	}
	
	
	
	
	
	
	
	/* 主题色2 */
/* 	.background_style{
		background-color:#DC3B50;
	}
	.btn_style>button{
		background-color:#EB0909;
		color:#e3e3e3;
	} */